<head>
	<title>Frank Mueller's Homepage</title>
	<link rel='stylesheet' type='text/css' href='style.css'>

</head>

<body>
	<div class="header">
	 	<a href="#default" class="logo, header-right">Frank Mueller</a>
		<a href="index.html">Home</a>
		<a href="about.html">About</a>
		<a href="books.html">Books</a>
		<a href="blog.html">Blog</a>
		<a href="copy.html">Copy</a>
	</div>

	<h1>Welcome to my Website</h1>
	
	<p>You have managed to stumble upon my little piece of real estate on the web, congratulations!</p>

	<p>Firstly, if for some reason you didn't already know, words are powerful. So powerful that our entire modern economy is built upon words. The very letters that people read produce thought conscious and sometimes unconscious that lead to sales, peole buying your product and ultimately wealth.</p> 

	<p>"The pen is mightier than the sword" is a phrase that summizes this concept. The ability to convince someone to defend you or not attack you is infinitely more valuable than a skilled swordsman. Persuasion through carefully crafted words are what lead to change and things being done.</p>

	<p>Excellent communication skills are not only what allow buisnesses to thrive but also humans on a daily basis, it really is our greatest strength.</p>

	<p>As such, this website aims to showcase my particular skillset in copywriting with my passion for all things technology.</p>

</body>


