/*color palette

	#1B262C
	#0F4C75
	#3282B8
	#BBE1FA
 
 */

body {
	background-color: #3282B8;
	color: #1b262c;
}

.header {
	overflow: hidden;
	background-color: #ff9933;
}

.header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

.footer {
	overflow: hidden;
	background-color: #ff9933;
	float: left;
	color: black;
	text align: center;
	padding 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 10px;

}


